.App .container {
  text-align: center;
  color: white;
  padding: 0;
  max-width: 800px;
}
.App footer {
  color: #405a92;
  text-align: center;
  margin-bottom: 22px;
}
.App footer a {
  color: #34c6cb;
  text-decoration: none;
}
.App footer a:hover {
  color: #405a92;
  text-decoration: none;
}
