.CityWeather {
  color: white;
  text-align: center;
}

.CityWeather .weatherDescription {
  font-size: 55px;
  color: #405a92;
}
.weatherDescription::first-letter {
  text-transform: capitalize;
}

.CityWeather .WeatherInfo {
  list-style-type: none;
  text-align: left;
  font-size: 25px;
  margin-top: 33px;
}
