.SearchEngine .searchF {
  margin: 0;
  padding: 0px 11px;
}

.SearchEngine .BarStyle {
  background-color: #fee8df;
  border-radius: 5px;
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.3);
  border-style: none;
  color: #c06c84;
  text-align: left;
  padding: 5px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
.SearchEngine #submitCity {
  margin-left: 5px;
}
.SearchEngine .iconLocation {
  font-size: 28px;
  position: relative;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.SearchEngine ::placeholder {
  font-size: 14px;
  color: #c06c84;
}
.SearchEngine #submitCity:hover {
  background-color: #32bfb9;
  color: #fee8df;
}
.SearchEngine .iconLocation:hover {
  color: #c06c84;
}
