.WeatherApp .container {
  text-align: center;
  color: white;
  padding: 0;
}

.part1 {
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  border-radius: 11px;
  padding-top: 0;
  padding: 25px;

  margin: 5px;
}
.part2 {
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  border-radius: 11px;
  padding: 25px;

  margin: 5px;
}
.part3 {
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  border-radius: 11px;
  padding: 25px;

  margin: 5px;
}
footer {
  color: #ff929d;
}
