.WeatherApp .AppWrap {
  max-width: 800px;
  text-align: center;
}

.WeatherApp .block1 {
  background: #371b71;
  border-radius: 11px;
  padding: 25px;
  margin: 11px;
}
.WeatherApp .block2 {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border-radius: 11px;
  padding: 25px;
  margin: 11px;
}
.WeatherApp .block3 {
  background: #34c6cb;
  border-radius: 11px;
  padding: 25px;
  margin: 11px;
}

.WeatherApp .searchF {
  padding: 0;
  margin: 0;
}

.WeatherApp .BarStyle {
  background-color: white;
  border-radius: 5px;
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.3);
  border-style: none;
  color: #405a92;
  text-align: left;
  padding: 5px 15px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
.WeatherApp #submitCity {
  margin-left: 5px;
}

::placeholder {
  font-size: 14px;
  color: #405a92;
}
.WeatherApp #submitCity:hover {
  background-color: #34c6cb;
  color: white;
}
